/* @import url('https://fonts.googleapis.com/css?family=Poiret+One'); */

.div-about-faq {
  margin-top: 20px;
  min-height: 80vh;
  margin-bottom: 20px;
}

/* @media (max-width: 769px) {
  .div-about-faq {
    margin-top: 20px;
    min-height: 50vh;
    margin-bottom: 20px;
  }
} */

.faq {
  text-align: center;
  background-image: url('../images/zheka-act.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 50vh;
}

@media (max-width: 769px) {
  .faq {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-act.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.pekar {
  text-align: center;
  background-image: url('../images/zheka-masha.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .pekar {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-masha.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.acting {
  text-align: center;
  background-image: url('../images/zheka-act.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .acting {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-act.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.poet {
  text-align: center;
  background-image: url('../images/zheka-talk.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .poet {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-talk.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.dance {
  text-align: center;
  background-image: url('../images/zheka-dance.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .dance {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-dance.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.photo {
  text-align: center;
  background-image: url('../images/zheka-foto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .photo {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-foto.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.fam {
  text-align: center;
  background-image: url('../images/zheka-muzh.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .fam {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-muzh.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.voin {
  text-align: center;
  background-image: url('../images/zheka-voin.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .voin {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-voin.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

.joke {
  text-align: center;
  background-image: url('../images/zheka-joke.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}

@media (max-width: 769px) {
  .joke {
    /* margin-top: 10px; */
    text-align: center;
    background-image: url('../images/zheka-joke.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* height: auto; */
    min-height: 50vh;
  }
}

/* @media (max-width: 769px) {
  .faq {
    margin-top: 10px;
    text-align: center;
    background-image: url('../images/zheka.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    min-height: 50vh;
  }
} */

.rating {
  color: gold;
  margin-bottom: 0 !important;
}

.review {
  font-size: 17px !important;
  text-align: justify;
  margin-bottom: 0;
}

.review-author {
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0;
}

.coming {
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.cross-text {
  font-family: 'Poiret One';
  text-decoration: line-through;
  color: gray;
}

.faq-p {
  font-family: 'Poiret One';
  font-size: 20px;
}

.test {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

.test-q {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 769px) {
  .test-q {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
}

.btn-q {
  text-align: center;
  margin: 20px 20px 20px 110px;
  width: 400px;
  height: 45px;
  background-color: white !important;
}

@media (max-width: 769px) {
  .btn-q {
    text-align: center;
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: white !important;
  }
}

.btn-q:focus {
  background-color: turquoise !important;
}

@media (max-width: 769px) {
  .btn-q:focus {
    background-color: turquoise !important;
  }
}
